<h1>Makeup App 🚀</h1>
<div class="homePagePhoto">
</div>

<div class="homeSearchBox">
  <form
    class="homePageForm"
    action="/products"
    method="get"
    id="product-search"
  >
    <input
      type="search"
      name="productType"
      id="productType"
      placeholder="search for item"
    />
    <input type="search" name="brand" id="brand" placeholder="By brand" />
    <input type="search" name="price" id="price" placeholder="Price" />
    <input type="submit" value="search" />
  </form>
</div>

<div class="productHomePage">
  <ul class="container">
    {{#each products}}
      <li><img class="productImage" src="{{imageUrl}}" alt="{{name}}" />
        {{name}}
        by
        <h3>{{brand}}</h3>
        <h6>{{price}}€</h6>
        <button class="productButton" value="{{_id}}"> Fav </button>
        <button class="productButton"><a href="/product-detail">See more</a>
        </button></li>
    {{/each}}
  </ul>
</div>

<h1>Recommendations</h1>