
<div class="homeSearchBox">
  <form
    class="homePageForm"
    action="/products"
    method="get"
    id="product-search"
  >
    <input
      class="inputHomePage"
      type="search"
      name="productType"
      id="productType"
      placeholder="e.g eyeliner"
    />
    <input class="inputHomePage" type="search" name="brand" id="brand" placeholder="Brand" />
    <input class="inputHomePage" type="search" name="price" id="price" placeholder="Max price" />
    <input  class="productButton" type="submit" value="search" />
  </form>
</div>

<div class="homePagePhoto">
  <img class="mainPicHome" src="../images/coverpic.jpg" alt="">
</div>

<div class="productHomePage">
  <ul class="containerProduct">
    {{#each products}}
      <li class="positionProductsPage">
        <img class="productImage" src="{{imageUrl}}" alt="{{name}}" />
        {{name}} <h3>{{brand}}</h3>
        <h5>{{price}}€</h5>
        <button value="{{_id}}" id="fav">
          <img src="images/heart.png" class="deleteButton"/>
        </button>
        </li>
    {{/each}}
  </ul>
</div>

