<h1>My Account</h1>

Name: {{this.name}}
Email Id: {{this.emailid}}
Age: {{this.age}}
Location: {{this.location}}


<h3>Profile picture: {{this.picture}}</h3>


<h2>My Products</h2>

<h2>Create the Look</h2>