<h1>My Account</h1>

<div>
    <img src="{{this.user.picture}}" alt=" {{this.user.name}} picture">
</div>
    
<ul>
    <li> Name: {{this.user.username}} </li>
    <li> Email Id: {{this.user.email}}</li>
    <li> Age: {{this.user.age}}</li>
    <li>Location: {{this.user.location}}</li>
</ul>



<h2>My Products</h2>

<h2>Create the Look</h2>