<h1>My Account</h1>
<p>
    
Profile picture: {{this.picture}}

Name: {{this.user.username}}
Email Id: {{this.user.email}}
Age: {{this.user.age}}
Location: {{this.user.location}}

</p>



<h2>My Products</h2>

<h2>Create the Look</h2>