<h1>My Account</h1>

<div>
    <img src="{{user.picture}}" alt=" {{user.name}} picture">
</div>
    
<ul>
    <li> Name: {{user.username}} </li>
    <li> Email Id: {{user.email}}</li>
    <li> Age: {{user.age}}</li>
    <li>Location: {{user.location}}</li>
</ul>



<h2>My Products</h2>

{{#each userFavorite}}
<div>
    <img src="{{product.imageUrl}}" alt=" {{product.name}}" >
</div>
<div>
    <p> {{product.name}} by {{product.brand}} </p>
</div>
{{/each}}

<h2>Your looks</h2>

<a href="/looks">Create a new look</a>