<h1>My Account</h1>

<div>
  <img
    src="{{user.picture}}"
    alt=" {{user.name}} picture"
    class="productImage"
  />
</div>

<ul class="container">
  <li> Name: {{user.username}} </li>
  <li> Email Id: {{user.email}}</li>
  <li> Age: {{user.age}}</li>
  <li>Location: {{user.location}}</li>
</ul>

<h2>My Products</h2>

<ul class="container">
  {{#each userFavorite}}
    <li>
      <img
        src="{{product.imageUrl}}"
        alt=" {{product.name}}"
        class="productImage"
      />
      <p> {{product.name}} by {{product.brand}} </p>
      <form
        action="/profile/delete/favorite/{{product._id}}"
        method="post"
        id="delete"
      >
        <input type="submit" value="Delete" />
      </form>
    </li>
  {{/each}}

</ul>

<h2>Your looks</h2>
<ul>
  {{#each looks}}
    <li>
      <a href="#popup-{{_id}} "> {{name}} </a>
    </li>
  {{/each}}
  {{#each looks}}
    <li>
      <a href=""> {{name}} </a>
      <input type="hidden" value="{{_id}}" />
      <form action="/profile/delete/look/{{_id}}" method="post" id="delete">
        <input type="submit" value="Delete" />
      </form>
    </li>
  {{/each}}
</ul>

<a href="/looks">Create a new look</a>

{{#each looks}}
  <div class="containerPopup">
    <div class="popup" id="popup-{{_id}}">
      <div class="popup-inner">
        <div class="popuptext">
          <div>
            <h3>{{name}}</h3>
            <p> {{mascara.name}}, {{mascara.brand}} </p>
            <a href="{{mascara.linkToProduct}}"> See more</a>
          </div>
          <div>
            <p> {{eyeliner.name}}, {{eyeliner.brand}} </p>
            <a href="{{eyeliner.linkToProduct}}"> See more</a>
          </div>
          <div>
            <p> {{eyeshadow.name}}, {{eyeshadow.brand}} </p>
            <a href="{{eyeshadow.linkToProduct}}"> See more</a>
          </div>
          <div>
            <p> {{eyebrows.name}}, {{eyebrows.brand}} </p>
            <a href="{{eyebrows.linkToProduct}}"> See more</a>
          </div>
          <div>
            <p> {{bronzer.name}}, {{bronzer.brand}} </p>
            <a href="{{bronzer.linkToProduct}}"> See more</a>
            <p> {{blush.name}}, {{blush.brand}} </p>
            <a href="{{blush.linkToProduct}}"> See more</a>
            <p> {{foundation.name}}, {{foundation.brand}} </p>
            <a href="{{foundation.linkToProduct}}"> See more</a>
            <p> {{lipstick.name}}, {{lipstick.brand}} </p>
            <a href="{{lipstick.linkToProduct}}"> See more</a>
          </div>
        </div>
        <a class="closepopup" href="#">X</a>
      </div>
    </div>
  </div>
{{/each}}